<div class="footer__content" style="background-color: {{ options.footer_background_color }}">
    <div class="main-wrapper footer-wrapper">
			<div class="footer__logo-wrapper center">        
						<a href="{{ site.url }}">
							{{ logo }}
					</a>
			</div>
			<div class="footer__columns">
					<div class="footer__column">
							<h4 class="column__title">{{ __('Tout savoir sur Birdee','eltigre')}}</h4>
							<nav class="footer-column__nav">
									{% include "partial/menu.twig" with {'items': menu.footer.birdee.get_items} %}
							</nav>
					</div>        
							
							
					<div class="footer__column">
							<h4 class="column__title">{{ __('Besoin d\'aide','eltigre')}}</h4>
							<nav class="footer-column__nav">
									{% include "partial/menu.twig" with {'items': menu.footer.help.get_items} %}
							</nav>
							<h4 class="column__title">{{ __('A propos','eltigre')}}</h4>
							<nav class="footer-column__nav">
									{% include "partial/menu.twig" with {'items': menu.footer.about.get_items} %}
							</nav>
					</div>
			
					<div class="footer__column">


					</div>
			</div>
			
	</div>
	<div class="preventive-text">
		{{ options.preventive_text }}
	</div>
</div>
