<div class="footer__content" style="background-color: {{ options.footer_background_color }}">
    <div class="main-wrapper footer-wrapper">
			<div class="footer__logo-wrapper center">        
						<a href="{{ site.url }}">
							{{ logo }}
					</a>
			</div>
			<div class="footer__columns">
					<div class="footer__column">
							<h4 class="column__title">{{ __('Tout savoir sur Birdee','eltigre')}}</h4>
							<nav class="footer-column__nav">
									{% include "partial/menu.twig" with {'items': menu.footer.birdee.get_items} %}
							</nav>
					</div>        
							
							
					<div class="footer__column">
						<div class="help__menu">
							<h4 class="column__title">{{ __('Besoin d\'aide','eltigre')}}</h4>
							<nav class="footer-column__nav">
									{% include "partial/menu.twig" with {'items': menu.footer.help.get_items} %}
							</nav>
						</div>
						<div class="about--menu">
							<h4 class="column__title">{{ __('À propos','eltigre')}}</h4>
							<nav class="footer-column__nav">
									{% include "partial/menu.twig" with {'items': menu.footer.about.get_items} %}
							</nav>
						</div>
					</div>

					<div class="footer__column">
						<div class="about--menu">
							<h4 class="column__title">{{ __('Réseaux sociaux','eltigre')}}</h4>
							<div class="footer__socials">
								{% for social in options.socials_media %}
									<div class="footer-socials__social">
											<a href="{{ social.link }}" target="_blank" rel="noopener noreferrer">
													{{ social.logo }}
											</a>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="applications--menu">
							<h4 class="column__title">{{ __('À propos','eltigre')}}</h4>
							{% for app in options.applications %}
							<a href="{{ app.link.url }}">
								<img src="{{ Image(app.image).src }}" alt="{{ Image(app.image).alt }}">
							</a>
							{% endfor %}
						</div>

					</div>  

			</div>
			
		<div class="preventive-text center">
			{{ options.preventive_text }}
		</div>
	</div>
</div>
