{% if landing_mode == false %}
<div class="footer__content" style="background-color: {{ options.footer_background_color }}">
    <div class="footer-wrapper main-wrapper">
			<div class="footer__logo-wrapper center">        
						<a href="{{ site.url }}">
							{{ logo }}
					</a>
			</div>
			<div class="footer__columns">
					<!-- Il y a un souci avec WPML d'où cette façon de faire  -->
					<div class="footer__column">
						{% if site.language == "fr_FR" or site.language == "fr_LU" or site.language == "fr_BE"%}
						<h4 class="column__title accordeon">{{ __('Tout savoir sur Birdee','eltigre')}}</h4>
						
						{% elseif site.language == "en_EU" or site.language == "en_LU" %}
						<h4 class="column__title accordeon">{{ __('All about Birdee','eltigre')}}</h4>
						
						
						{% elseif site.language == "nl_BE" %}
						<h4 class="column__title accordeon">{{ __('Kom alles te weten over Birdee','eltigre')}}</h4>
						
						{% endif %}
						<nav class="footer-column__nav">
								{% include "partial/menu.twig" with {'items': menu.footer.birdee.get_items} %}
						</nav>
					</div>        
							
							
					<div class="footer__column">
						<div class="help__menu">
							{% if site.language == "fr_FR" or site.language == "fr_LU" or site.language == "fr_BE"%}
							<h4 class="column__title accordeon">{{ __('Besoin d\'aide','eltigre')}}</h4>
							
							{% elseif site.language == "en_EU" or site.language == "en_LU" %}
							<h4 class="column__title accordeon">{{ __('Need help ?','eltigre')}}</h4>
							
							
							{% elseif site.language == "nl_BE" %}
							<h4 class="column__title accordeon">{{ __('Hulp nodig?','eltigre')}}</h4>
							
							{% endif %}
							<nav class="footer-column__nav">
									{% include "partial/menu.twig" with {'items': menu.footer.help.get_items} %}
							</nav>
						</div>
						<div class="about--menu">
							{% if site.language == "fr_FR" or site.language == "fr_LU" or site.language == "fr_BE"%}
							<h4 class="column__title accordeon">{{ __('À propos','eltigre')}}</h4>
							
							{% elseif site.language == "en_EU" or site.language == "en_LU" %}
							<h4 class="column__title accordeon">{{ __('About us','eltigre')}}</h4>
							
							
							{% elseif site.language == "nl_BE" %}
							<h4 class="column__title accordeon">{{ __('Over','eltigre')}}</h4>
							
							{% endif %}
							<nav class="footer-column__nav">
									{% include "partial/menu.twig" with {'items': menu.footer.about.get_items} %}
							</nav>
						</div>
					</div>

					<div class="footer__column">
						<div class="socials-media--menu">
							{% if site.language == "fr_FR" or site.language == "fr_LU" or site.language == "fr_BE"%}
							<h4 class="column__title accordeon">{{ __('Réseaux sociaux','eltigre')}}</h4>
							
							{% elseif site.language == "en_EU" or site.language == "en_LU" %}
							<h4 class="column__title accordeon">{{ __('Social Media','eltigre')}}</h4>
							
							
							{% elseif site.language == "nl_BE" %}
							<h4 class="column__title accordeon">{{ __('Sociale netwerken','eltigre')}}</h4>
							
							{% endif %}
							<div class="footer__socials">
								{% for social in options.socials_media %}
									<div class="footer-socials__social">
											<a href="{{ social.link }}" target="_blank" rel="noopener noreferrer">
													{{ social.network }}
											</a>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="applications--menu">
							{% if site.language == "fr_FR" or site.language == "fr_LU" or site.language == "fr_BE"%}
							<h4 class="column__title accordeon">{{ __('Télécharger notre application','eltigre')}}</h4>
							
							{% elseif site.language == "en_EU" or site.language == "en_LU" %}
						
							<h4 class="column__title accordeon">{{ __('Download the app','eltigre')}}</h4>
							
							{% elseif site.language == "nl_BE" %}
							<h4 class="column__title accordeon">{{ __('De app downloaden','eltigre')}}</h4>
							
							{% endif %}
							<div class="applications-wrapper">
								{% for application in options.applications %}
								<a href="{{ application.link }}" target="_blank">
									<img src="{{ Image(application.image).src }}" alt="{{ Image(application.image).alt }}">
								</a>
								{% endfor %}
							</div>
						</div>

					</div>  

			</div>
		<div class="footer__socials--mobile">
			{% for social in options.socials_media %}
				<div class="footer-socials__social">
						<a href="{{ social.link }}" target="_blank" rel="noopener noreferrer">
								{{ social.logo }}
						</a>
				</div>
			{% endfor %}
		</div>
		<div class="preventive-text center">
			{{ options.preventive_text }}
		</div>
	</div>
</div>
 <!-- intercom -->
 <div id="intercom_messenger" class="wow fadeIn">
	<div class="intercom-container">
		<img src="{{ options.logo_intercom.url }}" alt="logo intercom">
		{% if site.language == "fr_FR" or site.language == "fr_LU" or site.language == "fr_BE"%}
		<p>{{ __('Besoin d\'aide ?', 'eltigre') }}</p>
		
		{% elseif site.language == "en_EU" or site.language == "en_LU" %}
		<p>{{ __('Need some help ?', 'eltigre') }}</p>
		
		{% elseif site.language == "nl_BE" %}
		<p>{{ __('Help nodig ?', 'eltigre') }}</p>
		
		{% endif %}
	</div>
</div>
{% elseif landing_mode == true %}
<div class="footer__content footer-landing" style="background-color: {{ options.footer_background_color }}">
    <div class="footer-wrapper main-wrapper">
		<div class="footer__logo-wrapper center"> 
			<div class="main-footer-logo">
				<a href="{{ site.url }}">
					{{ logo }}
				</a>
			</div>  
			<div class="logo-partner--footer">
				<a href="{{ landing_link }}" target="_blank">
					<img src="{{ landing_logo.url }}" alt="{{ landing_logo.alt }}" class="footer-logo-partner-img">
				</a>
			</div>     
		</div>
	</div>
</div>

{% endif %}
