{% if landing_mode == true %}
	<div class='header__content main-wrapper header-landing'>
		<div class="menu--left">
			<div class='main-logo'>
				<a class='logo--link' href='{{ site.url|escape }}'>
					{{ logo }}
				</a>
			</div>
			<div class="main-logo__partner">
				<a href="{{ landing_link }}" target="_blank">
					<img src="{{ landing_logo.url }}" alt="{{ landing_logo.alt }}" class="header-logo-partner-img">
				</a>
			</div>
		</div> 
	</div>
{% elseif landing_mode == false %}
	<div class='header__content main-wrapper'>
		<div class="menu--left">
			<div class='main-logo'>
				<a class='logo--link' href='{{ site.url|escape }}'>
					{{ logo }}
				</a>
			</div>
			<nav class='nav__links'>
				{% include 'partial/menu.twig' with {'items': menu.header.left.get_items} %}
			</nav>
		</div>
		<div class="menu--right">
			<div class="phone-number__container desktop">
			
				{% if site.language == "fr_FR" %}
					<div class="phone__picto">
					</div>
					<div class="phone fr">
						<a href="tel:{{ options.phone_fr }}">
							{{ options.phone_fr }}
						</a>
					</div>
				{% elseif site.language == "en_EU" or site.language == "en_LU" or site.language == "fr_LU" %}
					<div class="phone__picto">
					</div>
					<div class="phone int">
						<a href="tel:{{ options.phone_int }}">
							{{ options.phone_int }}
						</a>
					</div>

				{% elseif site.language == "nl_BE" or site.language == "fr_BE" %}
					<div class="phone__picto">
					</div>
					<div class="phone int">
						<a href="tel:{{ options.phone_be }}">
							{{ options.phone_be }}
						</a>
					</div>
				{% endif %}
				
			</div>
			<nav class='nav__links'>
				{% include 'partial/menu.twig' with {'items': menu.header.right.get_items} %}
			</nav>
			<div class="site__burger-menu">
				<div class="burger-menu__wrapper">
						<span class="burger-menu__line"></span>
						<span class="burger-menu__line"></span>
						<span class="burger-menu__line"></span>
				</div>
			</div>  
		</div>  
	</div>
	<nav id="slide-nav">
		{% include "partial/menu.twig" with {'items': menuHeader.get_items} %}
		<div class="phone-number__container mobile">
			<div class="phone__picto">
			</div>
			{% if site.language == "fr_FR" %}
				<div class="phone fr">
					<a href="tel:{{ options.phone_fr }}">
						{{ options.phone_fr }}
					</a>
				</div>
			{% elseif site.language == "en_EU" or site.language == "en_LU" or site.language == "fr_LU" %}
				<div class="phone int">
					<a href="tel:{{ options.phone_int }}">
						{{ options.phone_int }}
					</a>
				</div>

			{% elseif site.language == "nl_BE" or site.language == "fr_BE" %}
				<div class="phone int">
					<a href="tel:{{ options.phone_be }}">
						{{ options.phone_be }}
					</a>
				</div>
			{% endif %}
			
		</div>

		{% do action('wp_languages_switcher') %}
		<div class="mobile-header__socials">
			{% for social in options.socials_media %}
				<div class="footer-socials__social">
						<a href="{{ social.link|escape }}" target="_blank" rel="noopener noreferrer">
								{{ social.logo }}
						</a>
				</div>
			{% endfor %}
		</div>
	</nav>
{% endif %}