    <div class="press__post">
			<a href="{{ post.cta }}" target="_blank">
        <div class="press__post-thumbnails">
            {% if post.thumbnail %}
                <img src="{{ Image(post.thumbnail).src }}" alt="{{ Image(post.thumbnail).alt }}" />
            {% endif %}
        </div>
        <div class="press__post-description">
            <div class="post-title">
                {{ post.title }}
            </div>
            <div class="post-published-date">
                {{ __('Posté le ', 'eltigre') }}{{ fn( 'get_field', 'presse_date' )|date("d/m/Y") }}
            </div>

        </div>
			</a>
    </div>
