{% extends "base.twig" %}

{% set caption = fn( 'wp_get_attachment_caption', post.id ) %}
{% set themes = fn( 'get_the_terms', post.id, 'theme' ) %}
{% set type = fn( 'get_field', 'project_type' ) %}


{% block content %}
<div class="project-content-wrapper">

    <div class="project-main-banner {% if main_banner.banner_type == 'logo' %}banner-with-logo{% endif %}" style="{% if main_banner.banner_type == 'logo' %}background-color:{{ main_banner.background_color }};{% endif %}">
        {% if main_banner.banner_type == "fullwidth" %}
            <img src="{{ main_banner.image_fullwidth.url }}" alt="{{ main_banner.image_fullwidth.alt }}">
        {% elseif main_banner.banner_type == "logo" %}
            <div class="main-wrapper">
                <img src="{{ main_banner.project_image.url }}" alt="{{ main_banner.project_image.alt }}">
            </div>
        {% endif %}
    </div>
	<section class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

       

		<div class="project-content">
			<div class="main-wrapper">
				<div class="article-top-part">
					<h1 class="article-h1 georgia bold font60">
						{{ post.title }}
					</h1>
                    <div class="project-theme hind font40">
                        {% for theme in themes %}
                        {{ theme.name }} 
                        {% if not loop.last %} - {% endif %}
                        {% endfor %}
                    </div>
				</div>

			</div>
		</div>
         
        {% for section in sections_projet %}
            {% if section.acf_fc_layout is not empty %}
                {% include 'flexibles/' ~ section.acf_fc_layout ~ '.twig' %}
            {% endif %}
        {% endfor %}
        
	</section>
    <div class="main-wrapper project-navigation">
        {{ project_navigations }}
    </div>
    <div id="section-{{ index }}" class="section_simple_content  simple newsletter" >
        <div class="main-wrapper simple-content__wrapper" style="text-align: {{ options.nl_text_align }};">
            {% if options.title is not empty %}
                <div class="simple-content__title">
                    <span class="handestonie font150">{{ options.title }}</span>
                </div>
            {% endif %}
            {% if options.content is not empty %}
                <div class="simple-content__content description">
                    {{ options.content }}
                </div>
            {% endif %}
            {# BUTTON LINK #}
            {% if options.cta is not empty %}
                {% set cta = options.cta %}
                {% include 'components/cta.twig' %}
            {% endif %}
        </div>
    </div>

   
</div><!-- /content-wrapper -->

{% endblock %}
