{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper content-glossary__wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			
			<section class="article-content article-content--glossary">
				<div class="main-content main-wrapper padding-medium">
					<div class="term-single__container">
						<div class="term-left-part">
							<a href="javascript:history.back()" class="go-back">
								<img src="https://blog.birdee.co/hubfs/Media/Common/fleche-gauche.svg" alt="flèche retour" class="arrow">
								{{ __('Revenir au glossaire', 'eltigre') }}</a>
							<div class="sharer-title uppercase">
								{{ __('Partager cette definition', 'eltigre') }}
							</div>
							{% include 'partial/sharer.twig' %}
						</div>
						<div class="term-right-part">
							<h1 class="term-glossary-h1 title uppercase">{{ post.title }}</h1>
							<div class="term-body description">
								{{post.content}}
							</div>
							<div class="social-medias__mobile">
								<div class="sharer-title uppercase">
									{{ __('Partager cette definition', 'eltigre') }}
								</div>
								{% include 'partial/sharer.twig' %}
							</div>
						</div>

					</div>
				</div>
			</section>

		</article>
	</div>
{% endblock %}
