<section id="banner" class="banner"
	style="background-color: {{ section.background_color }};">
	<div class="banner__container banner__container--{{ section.ornaments_type }} banner__position--{{ section.layout }}">

		<div class="banner__content layout--{{ section.text_layout }}">
			{% if section.logo %}
				<img src="{{ section.logo.url }}" alt="{{ section.logo.url }}" class="banner-logo"> 
			{% endif %}
			{% if section.title %}
			<div class="banner-content__title title bold uppercase">
				{{ section.title }} 
			</div>
			{% endif %}
			{% if section.description %}
			<div class="banner-content__description description">
				{{ section.description }} 
			</div>
			{% endif %}
			{% if section.button.title %}
			<div class="banner-content__cta-wrapper">
				<div class="banner-content__bullet">
					<a href="{{ section.button.url }}" class="cta cta--green" target="{{ section.button.target }}">
						<span class="cta__label">
							{{ section.button.title }}
						</span>	
					</a>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="banner__image-part" style="max-width:{{ section.width }}px;">
			{% if section.image %}
				<img src="{{ section.image.url }}" alt="{{ section.image.alt }}" class="banner__image">
			{% endif %}
			
		</div>

	</div>
</section>

