<section id="banner" class="banner"
	style="background-color: {{ section.background_color }};">
	<div class="banner__container banner__position--{{ section.layout }} container container--big padding-60 flex-row">

		<div class="banner__content">
			{% if section.logo %}
				<img src="{{ section.logo.url }}" alt="{{ section.logo.url }}" class="banner-logo"> 
			{% endif %}
			{% if section.title %}
			<h1 class="banner-content__title title-banner bold uppercase">
				{{ section.title }} 
			</h1>
			{% endif %}
			{% if section.description %}
			<div class="banner-content__description description">
				{{ section.description }} 
			</div>
			{% endif %}
			{% if section.cta.title %}
			<div class="banner-content__cta-wrapper">
				<div class="banner-content__bullet">
					<a href="{{ section.cta.url }}" class="cta cta--black-blue uppercase" target="{{ section.cta.target }}">
						<span class="cta__label">
							{{ section.cta.title }}
						</span>	
					</a>
				</div>
			</div>
			{% endif %}
			{% if section.trustpilot %}	
			<div class="trustpilot__wrapper">
				{{ section.trustpilot }}
			</div>
			{% endif %}
		</div>
		<div class="banner__image-part">
			{% if section.image %}
				<img src="{{ section.image.url }}" alt="{{ section.image.alt }}" class="banner__image" style="max-width:{{ section.width }}px;">
			{% endif %}
			
		</div>

	</div>
</section>

