<section id="big-banner" class="big-banner">
    <div class="big-banner__banner" style="background-color: {{ section.banner.background_color }};">

        <div class="big-banner__container big-banner__container--{{ section.ornaments_type }} big-banner__position--{{ section.banner.layout }}">
    
            <div class="big-banner__content">
                {% if section.banner.title %}
                    <div class="big-banner-content__title title bold uppercase" style="color: {{ section.banner.title_color }};">
                        {{ section.banner.title }} 
                    </div>
                {% endif %}
                {% if section.banner.description %}
                    <div class="big-banner-content__description description" style="color: {{ section.banner.description_color }};">
                        {{ section.banner.description }} 
                    </div>
                {% endif %}
                {% if section.banner.trustpilot %}
                    <div class="big-banner-content__trustpilot">
                        {{ section.banner.trustpilot }} 
                    </div>
                {% endif %}
            </div>
            <div class="big-banner__image-part" style="max-width:{{ section.banner.width }}px;">
                {% if section.banner.image %}
                    <img src="{{ section.banner.image.url }}" alt="{{ section.banner.image.alt }}" class="big-banner__banner-image">
                {% endif %}
            </div>
    
        </div>
    </div>
    <div class="big-banner__cap main-wrapper" style="background-color: {{ section.cap.background_color }};">
        <div class="big-banner__cap-container">
            <div class="big-banner__cap-content">
                {% if section.cap.part_title %}
                    <div class= "big-banner__cap-content__title title bold uppercase" style="color: {{ section.cap.part_title_color }};">
                        {{ section.cap.part_title }} 
                    </div>
                {% endif %}
                {% if section.cap.part_description %}
                    <div class="big-banner__cap-content__description description" style="color: {{ section.cap.part_description_color }};">
                        {{ section.cap.part_description }} 
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="big-banner__perf" style="background-color: {{ section.perf.background_color }};">
        <div class="big-banner__perf-container">
            <div class="big-banner__perf-content">
                {% if section.perf.part_title %}
                    <div class= "big-banner__perf-content__title title bold uppercase" style="color: {{ section.perf.part_title_color }};">
                        {{ section.perf.part_title }} 
                    </div>
                {% endif %}
                {% if section.perf.part_description %}
                    <div class="big-banner__perf-content__description description" style="color: {{ section.perf.part_description_color }};">
                        {{ section.perf.part_description }} 
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


