<section id="collaborators" class="collaborators">

	<div class="collaborators-container" style="text-align: {{ section.text_align }};">
		<div class="main-wrapper padding-medium" style="background-color: {{ section.background_color }};" >
            <div class="collaborators-wrapper">
                {% if section.section_title %}
                <div class="section-part__title title bold uppercase" style="color:{{ section.title_color }};">
                    {{ section.section_title }}
                </div>
                {% endif %}
                {% if section.section_description %}
                <div class="section-part__description description" style="color:{{ section.description_color }};">
                    {{ section.section_description }}
                </div>
                {% endif %}
                <div class="collaborators__wrapper-list">
                    <div class="collaborators__list">
                        {% for collabID in section.collaborators %}
                        <div class="collaborator-wrapper">
    
                            <img src="{{ Image(collabID.photo).src }}" alt="{{ Image(collabID.photo).alt }}" class="collaborator-img">
                            <div class="collaborator-name">
                                {{ collabID.post_title }}
                            </div>
                            <div class="collaborator-link--wrapper">
                                <a href="{{ collabID.link|escape }}" class="collaborator-link">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- RAJOUTER UN CHAMP BOUTON POUR LA SECTION AU CAS OU -->
                {% if section.cta %}
                <div
                    class="collaborators__cta-wrapper {{ section.classic.cta_align }}">
                    <a href="{{ section.classic.cta.url|escape }}" class="cta cta--black-green" target="{{ section.classic.cta.target }}">
                        <span class="cta__label">
                            {{ section.cta.title }}
                        </span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
	</div>
</section>
<style>


</style>
