<section id="{{ section.title|sanitize }}" class="collaborators {{ section.section_width == "ajust" ? "main-wrapper" : "" }} {{ section.section_width == "ajust" ? "classic" : "fullwidth" }}" style="background-color: {{ section.background_color }};">

	<div class="collaborators-container" style="text-align: {{ section.text_align }};">
		<div class="{{ section.section_width == "fullwidth" ? "main-wrapper" : "" }}">
			<div class="collaborators-wrapper">
				<div class="text-part {{ section.classic.text_align }}" style=" max-width: {{ section.classic.text_width }}px;">
					{% if section.classic.title %}
					<div class="text-part__title title bold uppercase">
						{{ section.classic.title }}
					</div>
					{% endif %}
					{% if section.classic.description %}
					<div class="text-part__description description--secondary" style="color:{{ section.classic.description_color }};">
						{{ section.classic.description }}
					</div>
					{% endif %}
					{% if section.classic.cta %}
					<div
						class="collaborators__cta-wrapper {{ section.classic.cta_align }}">
						<a href="{{ section.classic.cta.url }}" class="cta cta--black-green" target="{{ section.classic.cta.target }}">
							<span class="cta__label">
								{{ section.classic.cta.title }}
							</span>
						</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<style>


</style>
