<section id="faq" class="faq"
	style="background-color: {{ section.background_color }}; padding-top: {{ section.margin_top }}px; padding-bottom: {{ section.margin_bottom }}px;" >
	<div class="faq__wrapper main-wrapper padding-medium">
		{% if section.title %}
			<div class="faq__title title bold uppercase">
				{{ section.title }} 
			</div>
		{% endif %}
		<div class="faq__container">
			<div class="faq__content" style="max-width: {{ section.text_width }}px;">
				{% if section.description %}
				<div class="faq-content__description description">
					{{ section.description }} 
				</div>
				{% endif %}
				<div class="faq-content-part accordeon-group">
					{% for question in section.faqs %}                
						<div class="content-part__faq-content faq-accordeon" gsap-reveal>
							<h3 class="faq-content__title surtitle" id="faq-content__{{ loop.index }}">{{ question.question }}</h3>
							<div class="faq-content__description accordeon__content description" data-faq-content-description="{{ loop.index }}">
								{{ question.answer }}
							</div>
						</div>
					{% endfor %}
				</div> 
			</div>
			
		</div>

	</div>
</section>

