<section id="{{ section.title|sanitize }}" class="labels">

	<div class="labels-container {{ section.section_width == "ajust" ? "main-wrapper" : "" }} padding-medium {{ section.radius }}" style="text-align: {{ section.text_align }};background-color: {{ section.background_color }};padding-top: {{ section.section_margin }}px; padding-bottom: {{ section.section_margin }}px">
		<div class="{{ section.section_width == "fullwidth" ? "main-wrapper" : "" }} ">
			<div class="labels-wrapper">
                {% if section.section_title %}
                <div class="section-part__title title bold uppercase" style="color:{{ section.title_color }};">
                    {{ section.section_title }}
                </div>
                {% endif %}
                {% if section.section_description %}
                <div class="section-part__description description" style="color:{{ section.description_color }};">
                    {{ section.section_description }}
                </div>
                {% endif %}
                {% if section.labels|length > 1 %}
                    <div class="labels__list">
                        {% for label in section.labels %}
                        <div class="label-wrapper">
                            {% if label.image %}
                                <img src="{{ Image(label.image).src }}" alt="{{ Image(label.image).alt }}" class="label-img">
                            {% endif %}
                            {% if label.description %}
                                <div class="label-description description">
                                    {{ label.description }}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if section.cta %}
                <div
                    class="labels__cta-wrapper {{ section.classic.cta_align }}">
                    <a href="{{ section.classic.cta.url|escape }}" class="cta cta--black-green" target="{{ section.classic.cta.target }}">
                        <span class="cta__label">
                            {{ section.cta.title }}
                        </span>
                    </a>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
</section>
<style>


</style>
