<section id="{{ section.title|sanitize }}" class="picto-text-image {{ section.section_width == "ajust" ? "main-wrapper" : "" }} {{ section.radius }}" style="background-color: {{ section.background_color }};">

	<div class="picto-text-image-container" style="text-align: {{ section.text_align }};">
		<div class="{{ section.section_width == "fullwidth" ? "main-wrapper" : "" }}">
			<div class="picto-text-image-wrapper picto-text-image-wrapper--{{ section.layout }}" style="justify-content: {{ section.justify_content }};">
				<div class="picto-text-image__image">
					<img src="{{ section.image.url }}" alt="{{ section.image.alt }}" style=" max-width: {{ section.image_width }}px;">
				</div>
				<div class="text-part__container" style="max-width: {{ section.text_container_width }}px;">
					<div class="text-part__picto">
						<img src="{{ section.picto.url }}" alt="{{ section.picto.alt }}">
					</div>
					<div class="text-part {{ section.text_align }}" style=" max-width: {{ section.text_width }}px;">
						{% if section.surtitle %}
							<div class="text-part__surtitle surtitle">
								{{ section.surtitle }}
							</div>
						{% endif %}
						{% if section.title %}
							<h2 class="text-part__title title bold uppercase">
								{{ section.title }}
							</h2>
						{% endif %}
						{% if section.description %}
							<div class="text-part__description description" style="color:{{ section.description_color }};">
								{{ section.description }}
							</div>
						{% endif %}
						{% if section.cta %}
							<div
								class="picto-text-image__cta-wrapper {{ section.cta_align }}">
								<a href="{{ section.cta.url }}" class="cta cta--black-green" target="{{ section.cta.target }}">
									<span class="cta__label">
										{{ section.cta.title }}
									</span>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>


</style>
