<section id="{{ section.title|sanitize }}" class="simple {{ section.section_width == "ajust" ? "main-wrapper" : "" }} {{ section.section_width == "ajust" ? "ajust" : "fullwidth" }}" style="background-color: {{ section.background_color }};">

	<div class="simple-container" style="text-align: {{ section.text_align }};">
		<div class="{{ section.section_width == "fullwidth" ? "main-wrapper" : "" }}">
			<div class="simple-wrapper">
                {% if section.section_title %}
                    <div class="section-part__title title--secondary bold uppercase" style="color:{{ section.title_color }};">
                        {{ section.section_title }}
                    </div>
                {% endif %}
                {% if section.picto %}
                    <img src="{{ Image(section.picto).src }}" alt="{{ Image(section.picto).alt }}" class="picto-simple">
                {% endif %}
                
                {% if section.section_description %}
                    <div class="section-part__description description--secondary" style="color:{{ section.description_color }};">
                        {{ section.section_description }}
                    </div>
                {% endif %}
                {% if section.cta %}
                    <div
                        class="simple__cta-wrapper">
                        <a href="{{ section.cta.url }}" class="cta {{ section.background_color == "#69efca" ? "cta--black-blue" : "cta--black-green"  }} uppercase" target="{{ section.cta.target }}">
                            <span class="cta__label">
                                {{ section.cta.title }}
                            </span>
                        </a>
                    </div>
                {% endif %}
			</div>
		</div>
	</div>
</section>
<style>


</style>
