<section id="{{ section.title|sanitize }}" class="simple " style="{% if section.section_width == 'fullwidth' %}background-color: {{ section.background_color }};{% endif %}">
	
	<div class="simple-container {{ section.section_width == 'fullwidth' ? 'main-wrapper' : '' }}" style="text-align: {{ section.text_align }};">
		
		<div class="{{ section.section_width == 'ajust' ? 'main-wrapper' : '' }} {{ section.radius }}" style="background-color: {{ section.background_color }};background-image: url({{ section.background_image.url }})">
		<div class="overlay"></div>
			<div class="simple-wrapper {{ section.display_type }} padding-medium">
				{% if section.section_title %}
					<h2 class="section-part__title title bold uppercase" style="color:{{ section.title_color }}; text-align: {{ section.text_align }};">
						{{ section.section_title }}
					</h2>
				{% endif %}
				{% if section.picto %}
					<div class="picto-simple--wrapper" style="text-align: {{ section.text_align }};">
						<img src="{{ Image(section.picto).src }}" alt="{{ Image(section.picto).alt }}" class="picto-simple">
					</div>
				{% endif %}
				
				{% if section.section_description %}
					<div class="section-part__description--wrapper" style="color:{{ section.description_color }};justify-content: {{ section.text_align }};">
						<p class="section-part__description description {{ section.text_width }}"> 
							{{ section.section_description }}
						</p>
					</div>
				{% endif %}
				<div class="cta-picto__container {{ section.labels|length < 1 ? "justify-center" : "space-between" }}">
					{% if section.cta %}
						<div
							class="simple__cta-wrapper">
							<a href="{{ section.cta.url }}" class="cta {{ section.cta_color }} uppercase" target="{{ section.cta.target }}">
								<span class="cta__label">
										{{ section.cta.title }}
								</span>
							</a>
						</div>
					{% endif %}
					{% if section.labels|length > 0 %}
						<div class="simple__labels-wrapper">
							{% for label in section.labels %}
							<a href="{{ label.link.url }}" class="label-picto" target="{{ label.link.target }}">
								<img src="{{ Image(label.label).src }}" alt="{{ Image(label.label).alt }}" class="simple-label" style="max-width: {{ label.logo_width }}px; margin-top: {{ label.margin_top }}px;">
							</a>
							{% endfor %}
						</div>
					{% endif  %}
				</div>
			</div>
		</div>
	</div>
</section>
<style>


</style>
