<section id="{{ section.title|sanitize }}" class="text-image {{ section.section_width == "ajust" ? "main-wrapper" : "" }} {{ section.radius }}" style="background-color: {{ section.background_color }}; padding:{{ section.section_margin }}px 0;">

	<div class="text-image-container {{ section.description_type }}" style="text-align: {{ section.text_align }};">
		<div class="{{ section.section_width == "fullwidth" ? "main-wrapper" : "" }} padding-medium {{ section.radius }}">
			{% if section.section_title is not empty %}
			<div class="text-image__section-title">
				<h2 class="title bold uppercase {{ section.title_text_align }}" style="color:{{ section.color_section_title }}}">{{ section.section_title }}</h2>
			</div>
			{% endif %}
			<div class="text-image-wrapper text-image-wrapper--{{ section.layout }} type--{{ section.layout_type }}" style="justify-content: {{ section.justify_content }};">
				<div class="text-image__image">
					<img src="{{ section.image.url }}" alt="{{ section.image.alt }}" style=" max-width: {{ section.width }}px;">
				</div>
				<div class="text-part__container">

					<div class="text-part {{ section.text_align }}" style=" max-width: {{ section.text_width }}px;">
						{% if section.surtitle %}
						<div class="text-part__surtitle surtitle">
							{{ section.surtitle }}
						</div>
						{% endif %}
						{% if section.title %}
						<h2 class="text-part__title title bold uppercase">
							{{ section.title }}
						</h2>
						{% endif %}
						{% if section.description_type == 'paragraph' %}
							{% if section.description %}
							<div class="text-part__description description" style="color:{{ section.description_color }};">
								{{ section.description }}
							</div>
							{% endif %}
							{% if section.cta %}
							<div
								class="text-image__cta-wrapper {{ section.cta_align }}">
								<a href="{{ section.cta.url }}" class="cta cta--black-green uppercase" target="{{ section.cta.target }}">
									<span class="cta__label">
										{{ section.cta.title }}
									</span>
								</a>
							</div>
							{% endif %}
						{% elseif section.description_type == 'repeat' %}
							{% if section.descriptions|length > 1 %}
								<div class="text-image__descriptions-container">
									{% for description in section.descriptions %}
										<div class="descriptions__description-block">
											{% if description.description %}
												<div class="text-part__description description" style="color:{{ section.description_color }};">
													{{ description.description }}
												</div>
											{% endif %}
											{% if description.cta %}
												<div
													class="text-image__cta-wrapper {{ description.cta_align }}">
													<a href="{{ description.cta.url }}" class="cta {{ description.cta_color }} uppercase" target="{{ description.cta.target }}">
														<span class="cta__label">
															{{ description.cta.title }}
														</span>
													</a>
												</div>
											{% endif %}
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% elseif section.description_type == 'list' %}
							{% if section.enumerations|length > 1 %}
								<div class="text-image__enumerations-container">
									{% for enumeration in section.enumerations %}
										<div class="enumeration-block">
											<div class="number">
												{{ loop.index }}
											</div>
											<div class="text-image__enumeration-text--block">
												{% if enumeration.enumeration %}
													<div class="text-part__enumeration description" style="color:{{ enumeration.description_color }};">
														{{ enumeration.enumeration }}
													</div>
												{% endif %}
												{% if enumeration.cta %}
													<div
														class="text-image__cta-wrapper {{ enumeration.cta_align }}">
														<a href="{{ enumeration.cta.url }}" class="cta {{ enumeration.cta_color }} uppercase" target="{{ enumeration.cta.target }}">
															<span class="cta__label">
																{{ enumeration.cta.title }}
															</span>
														</a>
													</div>
												{% endif %}
											</div>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>


</style>
