<section id="{{ section.title|sanitize }}" class="text-image " style="{% if section.section_width == 'fullwidth' %}background-color: {{ section.background_color }}{% endif %}">

	<div class="text-image-container main-wrapper {{ section.description_type }} {{ section.radius }}" style="text-align: {{ section.text_align }};background-color: {{ section.background_color }}; padding-top:{{ section.section_margin }}px; padding-bottom: {{ section.section_margin }}px">
		<div class="{{ section.section_width == "fullwidth" ? "main-wrapper" : "" }} padding-medium {{ section.radius }}">
			{% if section.section_title is not empty %}
			<div class="text-image__section-title">
				<h2 class="title bold uppercase {{ section.title_text_align }}" style="color:{{ section.color_section_title }}}">{{ section.section_title }}</h2>
			</div>
			{% endif %}
			{% if section.section_description is not empty %}
			<div class="text-image__section-description">
				<p class="description {{ section.title_text_align }}" style="color:{{ section.color_section_description }}}">{{ section.section_description }}</p>
			</div>
			{% endif %}
			<div class="text-image-wrapper text-image-wrapper--{{ section.layout }} type--{{ section.layout_type }}" style="justify-content: {{ section.justify_content }};">
				{% if section.layout_type == "text-video"%}
					<div class="media-part__video">
						<div class="video-wrapper" style="max-width: {{ section.container_video_width }}px;">
							<div class="video-ratio"></div>
							<div class="video__play"></div>
							<video muted="muted" loop="loop" onmouseover="this.play();" onmouseout="this.pause();">
								{% if section.videos.mp4 is not empty %}<source type="video/mp4" src="{{ fn( 'wp_get_attachment_url', section.videos.mp4.ID ) }}" />{% endif %}
								{% if section.videos.webm is not empty %}<source type="video/webm" src="{{ fn( 'wp_get_attachment_url', section.videos.webm.ID ) }}" />{% endif %}
								{% if section.videos.mkv is not empty %}<source type="video/m4v" src="{{ fn( 'wp_get_attachment_url', section.videos.mkv.ID ) }}" />{% endif %}
								{% if section.videos.ogv is not empty %}<source type="video/ogg" src="{{ fn( 'wp_get_attachment_url', section.videos.ogv.ID ) }}" />{% endif %}
							</video>
							<div class="video__mute"></div>
						</div>
					</div>
				{% else %}
					<div class="text-image__image {{ section.image_layout }}">
						<img src="{{ section.image.url }}" alt="{{ section.image.alt }}" style=" max-width: {{ section.width }}px;" class="image">
					</div>
				{% endif %}
				
				<div class="text-part__container">

					<div class="text-part {{ section.text_align }}" style=" max-width: {{ section.text_width }}px;">
						{% if section.surtitle %}
						<div class="text-part__surtitle surtitle">
							{{ section.surtitle }}
						</div>
						{% endif %}
						{% if section.title %}
						<h2 class="text-part__title title bold uppercase">
							{{ section.title }}
						</h2>
						{% endif %}
						<div class="text-image__image--mobile {{ section.image_layout }}">
							<img src="{{ section.image.url }}" alt="{{ section.image.alt }}" style=" max-width: {{ section.width }}px;" class="image">
						</div>
						{% if section.description_type == 'paragraph' %}
							{% if section.description %}
							<div class="text-part__description description" style="color:{{ section.description_color }};">
								{{ section.description }}
							</div>
							{% endif %}
							{% if section.cta %}
							<div
								class="text-image__cta-wrapper {{ section.cta_align }}">
								<a href="{{ section.cta.url|escape }}" class="cta cta--black-green uppercase" target="{{ section.cta.target }}">
									<span class="cta__label">
										{{ section.cta.title }}
									</span>
								</a>
							</div>
							{% endif %}
						{% elseif section.description_type == 'repeat' %}
							{% if section.descriptions|length > 1 %}
								<div class="text-image__descriptions-container">
									{% for description in section.descriptions %}
										<div class="descriptions__description-block">
											{% if description.description %}
												<div class="text-part__description description" style="color:{{ section.description_color }};">
													{{ description.description }}
												</div>
											{% endif %}
											{% if description.cta %}
												<div
													class="text-image__cta-wrapper {{ description.cta_align }}">
													<a href="{{ description.cta.url|escape }}" class="cta {{ description.cta_color }} uppercase" target="{{ description.cta.target }}">
														<span class="cta__label">
															{{ description.cta.title }}
														</span>
													</a>
												</div>
											{% endif %}
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% elseif section.description_type == 'list' %}
							{% if section.enumerations|length > 1 %}
								<div class="text-image__enumerations-container">
									{% for enumeration in section.enumerations %}
										<div class="enumeration-block">
											<div class="number">
												{{ loop.index }}
											</div>
											<div class="text-image__enumeration-text--block">
												{% if enumeration.enumeration %}
													<div class="text-part__enumeration description" style="color:{{ enumeration.description_color }};">
														{{ enumeration.enumeration }}
													</div>
												{% endif %}
												{% if enumeration.cta %}
													<div
														class="text-image__cta-wrapper {{ enumeration.cta_align }}">
														<a href="{{ enumeration.cta.url|escape }}" class="cta {{ enumeration.cta_color }} uppercase" target="{{ enumeration.cta.target }}">
															<span class="cta__label">
																{{ enumeration.cta.title }}
															</span>
														</a>
													</div>
												{% endif %}
											</div>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>


</style>
