<section id="{{ section.title|sanitize }}"
	class="wallets {{ section.radius }}">

	<div class="wallet-container {{ section.description_type }}" style="text-align: {{ section.text_align }};">
		<div class="main-wrapper padding-medium" style="background-color: {{ section.background_color }}; padding-top: {{ section.section_margin }}px; padding-bottom: {{ section.section_margin }}px">
			{% if section.section_title is not empty %}
			<div class="wallet__section-title">
				<h2 class="title bold uppercase {{ section.title_text_align }}"
					style="color:{{ section.color_section_title }}}">{{ section.section_title }}</h2>
			</div>
			{% endif %}
			<div class="wallet-wrapper"
				style="justify-content: {{ section.justify_content }};">

				
				{% for wallet in section.wallets %}
				
					<div class="wallet-block">
						<div class="wallet-block__left-part">
							<div class="title title-wallet uppercase"> {{ wallet.post_title }} </div>
							<div class="surtitle-wallet description"> {{ wallet.surtitle }} </div>
							<div class="title--secondary hook-wallet uppercase"> {{ wallet.title }} </div>
							<div class="description description-wallet"> {{ wallet.description }} </div>
							<div class="wallet-themes">
					
							{% for subject in wallets[wallet.ID].subjects %}
									<div class="wallet-theme">
										<label for="{{ subject.subject_name }}">
										<input type=radio class="theme-input" name="userType" value="{{ subject.subject_name }}"  id="{{ subject.subject_name }}" {{ loop.index == 1 ? 'checked' : '' }}>
											<span>{{ subject.subject_name }}</span>
										</label>
									</div>
							{% endfor %}
							</div>	
						</div>
						
						{% for subject in wallets[wallet.ID].subjects %}
						<div class="wallet-block__right-part theme-input-content {{ loop.index == 1 ? '' : 'hidden'}}" tabname="{{ subject.subject_name }}">
						
							<div class="tabs__years">
							{% for year in subject.years %}
								<div class="tab__year title--secondary bold {{ loop.index == 1 ? 'active' : ''}}" data-year="{{ year.year }}">
									{{ year.year }}
									<div class="tab__year-bullet"></div>
								</div>
							{% endfor %}
							</div>
							<div id="panels" class="content">
								{% for content in subject.years %}
									<div id="{{ content.year }}" class="year__content {{ loop.index == 1 ? '' : 'hidden'}}" tabname="{{ content.year }}">
										<div class="perform-percent">
											<div class="perform__text surtitle center bold">{{ __('Performance du portefeuille', 'eltigre') }}</div>
											<div class="percent title-banner center ">
												{{ content.performance }}
											</div>
											<div class="precision__text title--secondary-unline center bold uppercase">{{ __('Pour 10.000€ investi sur 10 ans', 'eltigre') }}</div>
										</div>
										<div class="gain__content">

											<div class="gain-part">
												<div class="picto-gain">
													<img src="{{ Image(options.gain_picto).src }}" alt="{{ Image(options.gain_picto).alt }}">
												</div>
												<div class="gain uppercase">
													{{ __('Gain estimé : ', 'eltigre') }}
													<span>{{ content.estimed_gain}}</span>
												</div>
											</div>
											<div class="co2-part">
												<div class="picto-co2">
													<img src="{{ Image(options.co2_picto).src }}" alt="{{ Image(options.co2_picto).alt }}">	
												</div>
												<div class="co2 uppercase">
													{{ __('CO2 économisés : ', 'eltigre') }}
													<span>{{ content.co2_saved}}</span>
												</div>
											</div>
										</div>
										{% if wallet.cta %}
										<div class="wallet__cta-wrapper center">
											<a href="{{ wallet.cta.url }}" class="cta {{ wallet.cta_color }} uppercase" target="{{ wallet.cta.target }}">
												<span class="cta__label">
													{{ wallet.cta.title }}
												</span>
											</a>
										</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>

						</div>
						{% endfor %}

					</div>
				{% endfor %}
			</div>
			{% if section.cta %}
			<div class="wallet__cta-wrapper {{ section.cta_align }}">
				<a href="{{ section.cta.url }}" class="cta cta--black-green uppercase" target="{{ section.cta.target }}">
					<span class="cta__label">
						{{ section.cta.title }}
					</span>
				</a>
			</div>
			{% endif %}
		</div>
	</div>
</section>

